/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.extra-styling {
  width: 900px;
  padding: 20px;
}
.no-decor {
  text-decoration: none;
  color: #454245;
}
.changecolor {
  color: #454245;
}
.h1effects {
  font-size: 3.25rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.3%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #454245;
  background-image: url("../img/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: #E3E2E0;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  padding-bottom: 10px;
}
img {
  height: auto;
  width: 100%;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    max-width: 800px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 100%;
  }
}
body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
a {
  color: #000;
}
/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  float: left;
  font-size: 3em;
  padding: 10px 20px;
  text-decoration: none;
}
/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.aboutus {
  margin-top: 15px;
}
.aboutus h1 {
  text-align: center;
  font-size: 6.25rem;
}
.aboutus h2 {
  margin-left: 40%;
  font-size: 2.25rem;
}
.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
}
@media (max-width: 500px) {
  .heading {
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }
}
.heading h1 {
  font-size: 4.3rem;
  border-top: 3px solid #E3E2E0;
  border-bottom: 3px solid #E3E2E0;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .heading h1 {
    font-size: 7rem;
  }
}
.heading .title-info {
  letter-spacing: 0.3rem;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .heading .title-info {
    font-size: 4rem;
    text-align: center;
  }
}
.heading .login-button {
  border-radius: 8px;
  border: 2px solid #E3E2E0;
  padding-top: 5px;
  margin-bottom: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #454245;
  text-align: center;
}
@media (max-width: 500px) {
  .heading .login-button {
    width: 50%;
    height: 60px;
  }
}
.heading .login-button .login {
  font-size: 2rem;
  letter-spacing: -0.1rem;
}
@media (max-width: 500px) {
  .heading .login-button .login {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
    margin-left: 2%;
  }
}
.heading .learn-more {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .heading .learn-more {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  .heading .arrow {
    font-size: 5.5rem;
  }
}
.share {
  display: flex;
  justify-content: space-between;
  background-color: #A5C3C6;
  align-items: center;
  height: 370px;
}
@media (max-width: 800px) {
  .share {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .share {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
}
.share .boxImgOne {
  width: 470px;
  height: 370px;
  border-radius: 0;
}
@media (max-width: 500px) {
  .share .boxImgOne {
    margin-bottom: 2%;
    height: auto;
    width: 100%;
  }
}
.share .box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 40px;
}
@media (max-width: 800px) {
  .share .box-info {
    margin-top: 20px;
  }
}
.share .box-info h2 {
  font-size: 3.5rem;
}
@media (max-width: 500px) {
  .share .box-info h2 {
    font-size: 3.25rem;
  }
}
.share .box-info p {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .share .box-info p {
    font-size: 2rem;
  }
}
.share .box-info .share-button {
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background-color: #454245;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .share .box-info .share-button {
    width: 160px;
    height: 50px;
  }
}
.share .box-info .share-button .share-button-title {
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .share .box-info .share-button .share-button-title {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
  color: #E3E2E0;
}
.share-reverse {
  display: flex;
  justify-content: space-between;
  background-color: #A49989;
  align-items: center;
  height: 400px;
}
@media (max-width: 500px) {
  .share-reverse {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.share-reverse .box-info-reverse {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .share-reverse .box-info-reverse {
    margin-top: 20px;
  }
}
.share-reverse .box-info-reverse h2 {
  font-size: 3.5rem;
}
@media (max-width: 500px) {
  .share-reverse .box-info-reverse h2 {
    font-size: 3.25rem;
  }
}
.share-reverse .box-info-reverse p {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .share-reverse .box-info-reverse p {
    font-size: 2rem;
  }
}
.share-reverse .boxImgTwo {
  width: 350px;
  height: 400px;
  border-radius: 0;
}
@media (max-width: 500px) {
  .share-reverse .boxImgTwo {
    margin-bottom: 2%;
  }
}
.aboutus {
  display: flex;
  flex-direction: column;
  background: #A5C3C6;
  border-radius: 25px;
  margin-top: 3%;
}
img {
  border-radius: 25px;
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
.PL {
  margin-bottom: 2%;
  margin-top: 2%;
}
.PL .whoishe {
  background: #A5C3C6;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.PL img {
  margin-left: 2%;
  border-radius: 50%;
}
.PL h1 {
  font-size: 4rem;
  margin-left: 2%;
  text-align: center;
  margin-top: 2%;
  font-size: 3.25rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}
.PL p {
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
  margin-right: 2%;
}
.main {
  margin-bottom: 10px;
  color: #454245;
  background: #A5C3C6;
  border-radius: 25px;
}
.main2 {
  color: #454245;
  margin-bottom: 10px;
}
.main .blocks {
  display: flex;
}
.main .blocks h3 {
  font-size: 3.25rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}
.main .blocks h4 {
  font-size: 2rem;
  color: #454245;
}
.main2 .blocks2 {
  display: flex;
  color: #454245;
}
.main2 .blocks2 h3 {
  font-size: 3.25rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}
.main2 .blocks2 h4 {
  font-size: 2rem;
  color: #454245;
}
.main2 .blocks2 .group4 {
  width: 900px;
  padding: 20px;
}
.main2 .blocks2 .group5 {
  width: 900px;
  padding: 20px;
}
.main2 .blocks2 .group6 {
  width: 900px;
  padding: 20px;
}
.main .blocks .group1 {
  width: 900px;
  padding: 20px;
}
.main .blocks .group2 {
  width: 900px;
  padding: 20px;
}
.main .blocks .group3 {
  width: 900px;
  padding: 20px;
}
.main .blocks .group1 a {
  text-decoration: none;
  color: #454245;
}
.main .blocks .group2 a {
  text-decoration: none;
  color: #454245;
}
.main .blocks .group3 a {
  text-decoration: none;
  color: #454245;
}
.main2 .blocks2 .group4 a {
  text-decoration: none;
  color: #454245;
}
.main2 .blocks2 .group5 a {
  text-decoration: none;
  color: #454245;
}
.main2 .blocks2 .group6 a {
  text-decoration: none;
  color: #454245;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .aboutus img {
    display: none;
  }
  .PL .whoishe {
    margin-top: 10%;
    width: 100%;
  }
  .PL .whoishe img {
    display: none;
  }
  .main .blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .main2 .blocks2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
footer {
  padding: 25px 0px 0px 0px;
}
#copyright {
  text-align: center;
  padding: 35px;
}
