//some cool stuff



.aboutus{
    display:flex;
    flex-direction: column;
    margin-top:3%;
    }
    img{
       //border-radius:25px;
        margin-top:2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:2%
       
    }


//TL section
.PL{
    margin-bottom:2%;
    margin-top:2%;
  
    
    .whoishe{
        background:@blueish;
       // border-radius:25px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
        img{
            margin-left:2%;
            border-radius:50%;
        }
        h1{
        font-size:4.0rem;
        margin-left:2%;
        text-align: center;
        margin-top:2%;
        .h1effects();
    }

    p{
        margin-top: 5%;
        margin-left:2%;
        text-align: justify;
        margin-right: 2%;
        letter-spacing: 3px;
        

    }
}

// main styling 
.main{
	 position: relative;
    margin-bottom:10px;
    .changecolor();
    background:#A5C3C6;
    //border-radius:25px;
}
.main2{
    .changecolor();
	margin-bottom:10px
}
// blocks styling
.main .blocks {
    .flexnspace();
     h3{
        .h1effects();
    }
    h4{
        font-size:2.0rem;
        .changecolor();
    }
}   

.main2 .blocks2{
    .flexnspace();
    .changecolor();
        h3{
            .h1effects();
            
        }
        h4{
        font-size:2.0rem;
        .changecolor();
        }
        .group4{
        .extra-styling();
        }
        .group5{
           .extra-styling();
        }
        .group6{
           .extra-styling();
        }
}

// Everything get in formation
// added in some animation
// some xtra styling that wouldnt work with nesting 
.main .blocks .group1{
	.extra-styling();		
}
.main .blocks .group2{
    .extra-styling();	
}
.main .blocks .group3{
    .extra-styling();	
}

.main .blocks .group1 a{
   .no-decor();
}
.main .blocks .group2 a{
    .no-decor();

}
.main .blocks .group3 a{
    .no-decor();
}
.main2 .blocks2 .group4 a{
    .no-decor();
}
.main2 .blocks2 .group5 a{
    .no-decor();
}
.main2 .blocks2 .group6 a{
    .no-decor();
}
// media breakpoints
// took background img out... was loading too slow
@media @phone {
    body{
        background-image: none;
    }
    .container{
        width:100%
    }
    .aboutus{
        img{
            display:none;
        }
    }
    .PL .whoishe{
        
         margin-top:10%;
         width:100%;
        img{
            display:none;
        }
        p{
            font-size:16px;
           margin-left:5%;
           margin-right:5%;
            animation-duration: 3s;
            animation-name: slidein;
          }
          
          @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%; 
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
        }
    }
    .main .blocks{
        display:flex;
        flex-direction: row;
        width:100%; 
        flex-wrap: wrap;
       
    }
    .main2 .blocks2{
        display:flex;
         flex-direction: row;
         flex-wrap: wrap;
        width:100%;

        }
    }
    @media @tablet{
    
        .container{
            width:100%;
        }
        .aboutus{
            img{
                width:80%;
                margin:0 auto;
            }
        }

    }
