.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    @media @phone {
        height: 720px;
        width: 230%;

    }
    h1 {
        font-size: 4.3rem;
        border-top: 3px solid @lightest-grey;
        border-bottom: 3px solid @lightest-grey;
        margin-bottom: 20px;
        @media @phone {
            font-size: 7rem;
        }
    }
    .title-info {
        letter-spacing: 0.3rem;
        margin-bottom: 20px;
        @media @phone {
            font-size: 4rem;
        }
    }
    .login-button {
        border-radius: 8px;
        border: 2px solid @lightest-grey;
        padding-top: 5px;
        margin-bottom: 50px;
        height: 35px;
        display: flex;
        align-items: baseline;
        background-color: #454245;
        @media @phone {
            width: 30%;
            height: 60px;
        }
        .login {
            font-size: 2rem;
            letter-spacing: -0.1rem;
            @media @phone {
                font-size: 3.5rem;
                text-align: center;
                padding: 2%;
                margin-left: 2%;
            }
        }
    }
    .learn-more {
        font-size: 2.5rem;
        margin-bottom: 20px;
        @media @phone {
            font-size: 3.5rem;
        }
    }
    .arrow {
        @media @phone {
            font-size: 5.5rem;
        }
    }

  }

  .share {
      display: flex;
      justify-content: space-between;
      background-color: #A5C3C6;
      align-items: center;
      @media @tablet {
          height: 370px;
      }
      @media @phone {
          display: flex;
          flex-direction: column-reverse;
          width: 230%;
          height: 720px;
      }
      .boxImgOne {
          width: 470px;
          height: 370px;
          @media @phone {
              margin-bottom: 2%;
          }
      }
      .box-info {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-left: 40px;
          @media @tablet {
              margin-top: 20px;
          }
          h2 {
              font-size: 3.5rem;
              @media @phone {
                  font-size: 5rem;
              }
              
          }
          p {
              margin-top: 20px;
              @media @phone {
                  font-size: 2.8rem;
              }
          }
          .share-button {
              width: 120px;
              height: 30px;
              border-radius: 8px;
              background-color: #454245;
              margin-top: 20px;
              @media @phone {
                  width: 160px;
                  height: 50px;
              }
              .share-button-title {
                  font-size: 1.8rem;
                  @media @phone {
                      font-size: 2.5rem;
                  }
              }
          }
      }
  }

  .share-reverse {
    display: flex;
    justify-content: space-between;
    background-color: #A49989;
    align-items: center;
    @media @phone {
        display: flex;
        flex-direction: column;
        width: 230%;
        height: 720px;
    }
    .box-info-reverse {
        display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-left: 40px;
          margin-right: 10px;
          @media @phone {
              margin-top: 20px;
          }
          h2 {
              font-size: 3.5rem;
              @media @phone {
                  font-size: 5rem;
              }
          }
          p {
              margin-top: 20px;
              @media @phone {
                  font-size: 2.8rem;
              }
          }
    }
    .boxImgTwo {
        width: 350px;
        height: 400px;
        @media @phone {
            margin-bottom: 2%;
        }
    }
  }

