.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    h1 {
        font-size: 4rem;
        border-top: 3px solid @second-maincolor;
        border-bottom: 3px solid @second-maincolor;
        margin-bottom: 20px;
    }
    p {
        letter-spacing: 0.3rem;
        margin-bottom: 20px;
    }
    button {
        border-radius: 8px;
        border: 2px solid @second-maincolor;
        margin-bottom: 50px;
        height: 35px;
        h3 {
            font-size: 2rem;
            letter-spacing: -0.1rem;
        }
    }
    h3 {
        font-size: 2.5rem;
        letter-spacing: -0.1rem;
        margin-bottom: 20px;
    }

  }

  .share {
      display: flex;
      justify-content: space-between;
      background-color: #A5C3C6;
      align-items: center;
      .boxImgOne {
          width: 470px;
          height: 370px;
      }
      .box-info {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-left: 40px;
          h2 {
              font-size: 3.5rem;
              
          }
          p {
              margin-top: 20px;
          }
      }
  }

  .share-reverse {
    display: flex;
    justify-content: space-between;
    background-color: #E3E2E0;
    align-items: center;
    .box-info-reverse {
        display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-left: 40px;
          margin-right: 10px;
          h2 {
              font-size: 3.5rem;
          }
          p {
              margin-top: 20px;
          }
    }
    .boxImgTwo {
        width: 350px;
        height: 400px;
    }
  }

