.box-info-layout(@direction, @justify) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    flex-wrap: wrap;
}

.phone-dimensions(@width, @height) {
    width: @width;
    height: @height;
}
.extra-styling{
    width:900px;
    padding:20px;
}
.no-decor{
    text-decoration: none;
    color:@main-color;
}
.changecolor{
    color:@main-color;
}

.h1effects{
    font-size: 3.25rem;
    font-weight:bold;  
    text-shadow: 2px 2px 4px black;
}