.box-info-layout(@direction, @justify) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    flex-wrap: wrap;
}

.phone-dimensions(@width, @height) {
    width: @width;
    height: @height;
}